@model IngeQ.Models.PROGRAMAS

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PROGRAMAS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOMBRE_PROGRAMA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE_PROGRAMA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHA_INICIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_INICIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHA_TERMINO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_TERMINO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ESTADO_PROGRAMA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESTADO_PROGRAMA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CAPACIDAD_PROGRAMA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CAPACIDAD_PROGRAMA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CANTIDAD_CLASES)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CANTIDAD_CLASES)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_PROGRAMA }) |
    @Html.ActionLink("Back to List", "Index")
</p>
